<html>
<head><meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="RxString queries various data sources for drug terms and combines results into a single search string that can be used to search bibliographic databases.">
<meta name="author" content="Tyler Ostapyk">
<title>RxString</title>
<style>
.logo {float:left}
.logoimage {margin-right:20px}
.choosefile {padding-left:5px;}

@media only screen and (max-width: 600px) {
  .logo {grid-area: 1 / span 3; float:none}
  .content {grid-area: 2 / span 3;}
  .footer {grid-area: 3 / span 3;}
  .logoimage {display:block; margin-left:auto; margin-right: auto;
}


</style>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EESD1S9033"></script>
<script src="{{ url_for('static', filename='analytics.js') }}"></script>
</head>
<body>
<div class="logo" style="margin-top:10px;">
<img class="logoimage" width="100px" src="https://raw.githubusercontent.com/Twostap/rxstring/refs/heads/main/rxstringcropped.png"/>
</div>
<div class="content" style="margin-top:25px; font-family:arial;">
<table class="description" style="padding:5px; font-size:.8em">
<tr><td>RxString queries MeSH, RxNorm, Wikidata, PubChem, DrugBank, and Emtree for drug terms.</td></tr>
<tr><td style="padding-top:20px;">Results are combined into a single search string that can be used to search bibliographic databases.</td></tr>
<tr><td style="padding-top:20px;">Emtree files must be uploaded when searching this source.</td></tr>
<tr><td style="padding-top:20px;">Consult the <a href="https://github.com/Twostap/drugdata/blob/main/README.md" target="_blank">readme</a> for additional information</td></tr>
<tr><td style="padding-top:20px;"><form action="{{ url_for("drugdata")}}" method="post" enctype="multipart/form-data">
<table class="search" style="width:100%; border-spacing: 0 1em; font-size:1em">
<tr><td style="width:20%; padding-left:10px;"><label for="drugname"><b>Search term</b></label></td>
<td style="80%"><input type="text" id="drugname" name="dname" placeholder="enter a drug name"></td>
</tr>
<tr>
<td style="width:20%; padding-left:10px;"><label for="PhraseSearch"><b>Phrase search</b></label></td>
<td style="width:80%;"><input type="checkbox" id="PhraseSearch" name="PhraseSearch" /></td>
</tr>
<tr>
<td style="width:20%; padding-left:10px;"><label for="TruncationSymbol"><b>Truncation (*)</b></label></td>
<td style="width:80%;"><input type="checkbox" id="TruncationSymbol" name="TruncationSymbol" /></td>
</tr>
<tr>
<td style="width:20%; vertical-align:top; padding-left:10px;"><b>Data sources</b></td>
<td style="width:80%">
<table class="sources" style="border:0; font-size:.9em">
<tr><td width="100%"><input type="checkbox" id="MeSHSearch" name="MeSHSearch" /><label for="MeSHSearch">MeSH</label></td></tr>
<tr><td><input type="checkbox" id="RXSearch" name="RXSearch" /><label for="RXSearch">RXNorm</label></td></tr>
<tr><td><input type="checkbox" id="WikidataSearch" name="WikidataSearch" /><label for="WikidataSearch">Wikidata</label></td></tr>
<tr><td><input type="checkbox" id="PubChemSearch" name="PubChemSearch" /><label for="PubChemSearch">PubChem</label></td></tr>
<tr><td><input type="checkbox" id="DrugBankSearch" name="DrugBankSearch" /><label for="DrugBankSearch">DrugBank</label></td></tr>
<tr><td><input type="checkbox" id="LOCSearch" name="LOCSearch" /><label for="LOCSearch">LCSH</label></td></tr>
<tr><td><input type="checkbox" id="EmtreeSearch" name="EmtreeSearch" /><label for="EmtreeSearch">Emtree</label><input class="choosefile" style="font-size:.9em;" type="file" name="emtreefile" id="emtreefile"></td></tr>
</table>
</td>
</tr>
</table>
<button type="submit" style="color: white; background-color: #01789f; border:1px solid black; padding:4px 10px">Search</button><br><br>
<input type="reset" style="color: black; background-color: grey; border:1px solid black; padding: 2px 5px" value="Clear selections">
</form>
</td></tr></table>
</div>
<div class="footer" style="margin-top: auto;"><p style="font-size:.6em;"><br><br>© Copyright 2025 Tyler Ostapyk</p></div>
</body>
</html>
