<html>
<head><meta name="viewport" content="width=device-width, initial-scale=1.0"></head>
<body>
<div style="margin-top:25px; font-family:Helvetica">
<table style="padding:5px; border-collapse: collapse;">
<tr>
<td rowspan="7" style="width:10%; vertical-align:top; padding-right:20px;"><img width="100px" src="https://raw.githubusercontent.com/Twostap/rxstring/refs/heads/main/rxstringcropped.png"/></td></tr>
<tr><td style="width:90%;">RxString queries MeSH, RxNorm, Wikidata, PubChem, DrugBank, and Emtree for drug terms.</td></tr>
<tr><td style="width:90%; padding-top:20px;">Results are combined into a single search string that can be used to search bibliographic databases.</td></tr>
<tr><td style="width:90%; padding-top:20px">Emtree files must be uploaded when searching this source.</td></tr>
<tr><td style="width:90%; padding-top:20px">Consult the <a href="https://github.com/Twostap/drugdata/blob/main/README.md" target="_blank">readme</a> for additional information</td></tr>
<tr><td style="width:90%; padding-top:20px"><form action="{{ url_for("drugdata")}}" method="post" enctype="multipart/form-data">
<table style="width:100%; border-spacing: 0 1em;">
<tr><td style="width:20%; padding-left:10px;"><label for="drugname"><b>Search term</b></label></td>
<td style="80%"><input type="text" id="drugname" name="dname" placeholder="enter a drug name"></td>
</tr>
<tr>
<td style="width:20%; padding-left:10px;"><label for="PhraseSearch"><b>Phrase search<b></label></td>
<td style="width:80%;"><input type="checkbox" id="PhraseSearch" name="PhraseSearch" /></td>
</tr>
<tr>
<td style="width:20%; vertical-align:top; padding-left:10px;"><b>Data sources</b></td>
<td style="width:80%">
<table style="border:0">
<tr><td width="100%" colspan="2"><input type="checkbox" id="MeSHSearch" name="MeSHSearch" />
<label for="MeSHSearch">MeSH</label></td></tr>
<tr><td colspan="2"><input type="checkbox" id="RXSearch" name="RXSearch" />
<label for="RXSearch">RXNorm</label></td></tr>
<tr><td colspan="2"><input type="checkbox" id="WikidataSearch" name="WikidataSearch" />
<label for="WikidataSearch">Wikidata</label></td></tr>
<tr><td colspan="2"><input type="checkbox" id="PubChemSearch" name="PubChemSearch" />
<label for="PubChemSearch">PubChem</label></td></tr>
<tr><td colspan="2"><input type="checkbox" id="DrugBankSearch" name="DrugBankSearch" />
<label for="DrugBankSearch">DrugBank</label></td></tr>
<tr><td style="width:30%"><input type="checkbox" id="EmtreeSearch" name="EmtreeSearch" /><label for="EmtreeSearch"> Emtree</label></td><td style="width:70%"><input style="font-size:10px" type="file" name="emtreefile" id="emtreefile"></td>
</tr>
</table>
</td>
</tr>
</table>
<button type="submit" style="color: white; background-color: #01789f; border:1px solid black; padding:4px 10px"}>Search</button>
</form>
</td></tr></table>
</div>
<div style="margin-top: auto;"><p style="font-size:.6em;"><br><br>© Copyright 2025 Tyler Ostapyk</p></div></div>
</body>
</html>
